<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgArtTH8NVpPfOm6RSsBCDkmN25KvHfDo</string>
	<key>GCM_SENDER_ID</key>
	<string>27428666274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MazilePlay.EchoMe-Affirmations</string>
	<key>PROJECT_ID</key>
	<string>echome-affirmations-app</string>
	<key>STORAGE_BUCKET</key>
	<string>echome-affirmations-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27428666274:ios:4ca1db34882bedb1e850fb</string>
</dict>
</plist>